{% load static %}
{% now "U" as timestamp %}
<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v={{ timestamp }}">

</head>
<body>
<!-- Навбар -->
<div class="navbar">
    <a href="{% url 'user_auth:home' %}" class="logo-link">
        <img src="{% static 'images/logo.png' %}" alt="Логотип" class="logo-img">
    </a>
    <a href="{% url 'user_auth:home' %}" class="home-btn">Главная</a>
    <a href="{% url 'courses:course_list' %}" class="home-btn">Курсы</a>
    {% if user.is_authenticated %}
        <div class="profile-menu">
            <a href="#" class="home-btn" onclick="toggleProfileMenu(event)">Профиль</a>
            <div class="profile-dropdown">
                <img src="{{ profile.photo.url }}" alt="Аватар">
                <p><strong>{{ user.name }}</strong></p>
                <p>⭐ Stars: {{ profile.stars }}</p>
                <p>🔥 EXP: {{ profile.exp }}</p>
                <a href="{% url 'profile_app:profile' %}" class="profile-btn">Перейти в профиль</a>
            </div>
        </div>
    {% else %}
        <a href="{% url 'user_auth:login' %}" class="home-btn">Войти</a>
    {% endif %}
    <button class="theme-btn" onclick="toggleTheme()">🌓</button>
</div>
<div class="main-content">
    {% block content %}{% endblock %}
</div>
<!-- Футер -->
<div class="footer-home">
    <p>© 2026 Cr8ate. Все права защищены.</p>
    <p><a href="#">Политика конфиденциальности</a> | <a href="#">Условия использования</a></p>
</div>
<script>
    function toggleTheme() {
        const html = document.documentElement;
        const current = html.getAttribute('data-theme');
        const next = current === 'light' ? 'dark' : 'light';
        html.setAttribute('data-theme', next);
        localStorage.setItem('theme', next);
    }

    function toggleProfileMenu(event) {
        event.preventDefault();  // чтобы ссылка не работала
        const menu = document.querySelector('.profile-dropdown');
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    }

    window.addEventListener('DOMContentLoaded', () => {
        const saved = localStorage.getItem('theme');
        if (saved) {
            document.documentElement.setAttribute('data-theme', saved);
        }
    });
</script>